version: "3.9"
services:
  web:
    build: .
    container_name: django_web
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
      - db_data:/usr/src/app/data 
volumes:
  db_data:


